body{
    background-image: url(../assets/fundo-login.gif);
    background-size: 178vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.ref{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.forms{
    position: relative;
    border: solid #000000 2px;
    width: 58vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 7px 8px 9px 2px black;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(3px);
    font-family: monospace;
    overflow: hidden;
    text-shadow: 2px 2px 1px black;
    animation: cair 4s linear;
}
input {
    background: transparent;
    font-size: 3vh;
    position: relative;
    width: 110%;
    right: 4.5%;
    height: 13%;
    outline: 0;
    margin-bottom: 5%;
    border-radius: 8px;
    border: solid white 1px;
    color: wheat;
    font-family: monospace;
    padding-left: 5%;
    box-sizing: border-box;

}
#email{
    background-color: transparent;
    margin-bottom: 2%;

}
.forms h1{
    font-size: 4.5vh;
    position: relative;
    text-align: center;
    bottom: 5%;
}
label{
    font-size: 3vh;
    position: relative;
    right: 4%;
    bottom: 1%;
}
#botão{
    width: 65%;
    height: 12%;
    position: relative;
    left: 18%;
    top: 12%;
    color: white ;
    background: transparent;
    border: solid white 1px;
    border-radius: 5vh;
    font-size: 2.9vh;
    outline: 0;
    font-family: monospace;
    text-shadow: 2px 2px 1px black;
}
.subtitulo-senha{
    position: relative;
    
}
.subtitulo-email{
    position: relative;
}
#senha{
    position: relative;
}
::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    opacity: 75%;
}
.cadastro{
    font-size: 2.5vh;
    top: 20%;
    right: 10%;
}
.botão{
    width: 65%;
    height: 12%;
    position: relative;
    left: 50%;
    top: 11.7%;
    color: white ;
    background: transparent;
    border: solid 0px;
    font-size: 2.9vh;
    outline: 0;
    font-family: monospace;
    text-shadow: 2px 1px 1px black;
    cursor: pointer;   
}



.forms span:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent,  rgb(255, 12, 255));
    animation: borda1 4s linear infinite;
}

.forms span:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgb(255, 12, 255));
    animation: borda2 4s linear infinite;
    animation-delay: 2s;
}

.forms span:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, rgb(255, 12, 255));
    animation: borda3 4s linear infinite;
}

.forms span:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, rgb(255, 12, 255));
    animation: borda4 4s linear infinite;
    animation-delay: 2s;
}
@keyframes cair {
    0%{
        transform: translateY(-800px);
    }
    70%, 90%{
        transform: translateY(100px);
    }
    80%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes borda {
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(100%)
    }
}

@keyframes borda2 {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(100%)
    }
}

@keyframes borda3 {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(-100%)
    }
}

@keyframes borda4 {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(-100%)
    }
}
input:focus{
    box-shadow: 0px 0px 5px 2px rgb(255, 73, 255);
    
}
#botão:active{
    background-color: rgba(255, 255, 255, 0.233);
    cursor: pointer;
}
#botão:focus{
    box-shadow: 0px 0px 5px 2px rgb(255, 73, 255);
    color: rgb(255, 184, 225);
    text-shadow: 1px 1px 3px rgb(255, 68, 224);
    cursor: pointer;
    
}
#botão:hover{
    cursor: pointer;
}



#cenario{
    position: relative ;
    width: 30vh;
}
#botao-voltar{
    width: 10vh;
    height: 7vh;
    font-size: 5vh;
    background-image: url(../assets/seta-voltar.png);
    background-size: 99% 105%;
    outline: 0;
    top: 10%;
    left: 70%;
    outline: 0;
    background-color: rgb(223, 0, 0);
    border: solid rgb(139, 0, 0) 1px;
    box-shadow: 0px 3px 0px 2px rgb(116, 0, 0),
    0px 3px 0px 3px black,
    6px 9px 2px 0px rgb(22, 22, 22);
    position: absolute;
    border-radius: 5px;
}
#botao-voltar:active{
    box-shadow:  0px 3px 0px 2px rgb(116, 0, 0),
    0px 3px 0px 3px black;
    transform: translateY(5px);
}
#mario{
    position: relative;
    opacity: 0;
    height: 40px;
    bottom: 14.6vh;
    right: 25vh;
    position: absolute;
}
#mario-estatico{
    height: 40px;
    bottom: 14.6vh;
    right: 24vh;
    position: absolute;

}

.voltar{
    height: 30vh;
    top: 70%;
    right: 43%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
    z-index: 2;
}
.andar{
    animation: andarSaida 2s linear forwards;
    z-index: -1;

    
}
.esconder{
    opacity: 0; 
}
@keyframes andarSaida{
    0%{
        opacity: 1;
    }
    15%{
        transform: translateX(20px);
    }
    25%{
        transform: translate(60px, -10px);
    }
    35%{
        transform: translate(104px 50px);
    }
    50%{
        transform: translate(109px, 60px);
    }
    55%{
        transform: translate(109px, 80px);
    }
    100%{
        transform: translate(109px, 80px);
        opacity: 1;
    }
}


